
.canvas{
      .canvas-button{
           background-color: transparent;
           border: none;
           width: 60px;
           height: 60px;
           box-shadow: none;
          &:hover{
            background-color: transparent;
          }

     
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
    }
}